.form-check-label{
    padding: 10px 15px;
    font-size: 18px;
    border: 2px solid rgb(241, 228, 228);
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    /* color: blueviolet; */

}

.form-check-label:hover{
    color: red;
    background-color: white;
}

.text{
    font-size: 17px;
    text-align: center;
}

.form-check-label.active{
    color: red;
    background-color: white;
}
